<div class="grid grid-cols-[2fr_1fr_1fr] auto-rows-[minmax(100px,_auto)] gap-3">
    <div
        class="row-start-1 row-end-3 p-3 transition-transform transform bg-red-400 rounded-md hover:scale-95"
    >
        one
    </div>
    <div
        class="p-3 transition-transform transform bg-green-500 rounded-md hover:scale-95"
    >
        two
    </div>
    <div
        class="p-3 transition-transform transform rounded-md bg-cyan-600 hover:scale-95"
    >
        three
    </div>
    <div
        class="p-3 transition-transform transform bg-gray-600 rounded-md hover:scale-95"
    >
        Four
    </div>
    <div
        class="p-3 transition-transform transform bg-orange-500 rounded-md hover:scale-95"
    >
        Five
    </div>
</div>
