<div class="text-white p-3 bg-slate-950 font-ember grid-cols-3 grid gap-x-20">
    <div class="flex flex-col gap-3">
        <h1 class="text-lg w-max pb-2 border-0 border-b-[#F3A847] border-b-2">
            About US
        </h1>
        <p class="text-sm font-light text-gray-600">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            officia dicta tempora eligendi sed adipisci repellat id assumenda
            dolor doloribus?
        </p>
        <h3 class="text-sm font-light text-gray-600">+1 228 8382 822</h3>
        <h3 class="text-sm font-light text-gray-600">constact@shopily.com</h3>
    </div>
    <div class="flex flex-col gap-3">
        <h1 class="text-lg w-max pb-2 border-0 border-b-[#F3A847] border-b-2">
            Help Pages
        </h1>
        <ul class="text-sm font-light text-gray-600 flex-col flex gap-2">
            <li>Privacy Policy</li>
            <li>Shipping Policy</li>
            <li>Refunds & Returns Policy</li>
            <li>Contat us</li>
            <li>About us</li>
        </ul>
    </div>
    <div class="flex flex-col gap-3">
        <h1 class="text-lg w-max pb-2 border-0 border-b-[#F3A847] border-b-2">
            My Account
        </h1>
        <ul class="text-sm font-light text-gray-600 flex-col flex gap-2">
            <li>My Account</li>
            <li>Log in</li>
            <li>My Addresses</li>
            <li>My Orders</li>
        </ul>
    </div>
</div>
